<div id="ticket-view" class="card visually-hidden" style="margin-top: 5px; margin-bottom: 5vh; min-width: 80vw;">
    <h4 class="card-header" id="ticket-header">Ticket Info</h4>
    <div class="card-body">
        <p class="card-text">ID: <span id="ticket-id"></span></p>
        <p class="card-text">Headline: <span id="headline" style="font-weight: bold;"></span></p>
        <p class="card-text">Priority: <span id="priority" class="badge bg-secondary"
                style="font-size:0.9rem; min-width: 70px;" data-bs-toggle="tooltip" data-bs-placement="right"></span>
        </p>
        <p class="card-text">Category: <span id="category" class="badge bg-secondary" style="font-size:0.9rem;"
                data-bs-toggle="tooltip" data-bs-placement="right"></span></p>
        <div class="card">
            <h5 class="card-header">Keywords</h5>
            <div class="card-body">
                <div class="card-text" id="keywords">

                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <h5 class="card-header">Description</h5>
            <div class="card-body card-text" id="description">

            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <h5 class="card-header">Recent Similar Tickets</h5>
            <div class="card-body container d-flex flex-wrap flex-column flex-md-column flex-lg-row align-items-strech justify-content-between"
                id="similar">
            </div>
        </div>
        <% if (includeBtn) { %>
        <a href="#" id="ticketPageBtn" role="button" class="btn btn-primary" style="margin-top: 10px; width:100%;">Go to
            Ticket
            Page</a>
        <% } %>
    </div>
</div>