<%var title = 'Account'%>

<main class="col d-flex justify-content-center">
    <div class="text-center align-item-center" style="margin-bottom: auto; margin-top: 5%">
        <h1>Account Token</h1>
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">User</th>
                    <th scope="col">Email</th>
                    <th scope="col">Token</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Hung</td>
                    <td>hung@email.com</td>
                    <td>12345</td>
                    <td>
                        <a class="btn btn-primary btn-sm"> Copy </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>