<%var title = 'Support Ticket Prioritization'%>

<main>
    <section class="site-title">
        <div class="site-background">
            <h3>Ticket Support</h3>
            <h1>Let's Help The Clients</h1>
            <a href="submit"><button class="btn">Start</button></a>
        </div>
    </section>
</main>