<%var title = 'Support Ticket Prioritization'%>

<main>
    <section class="site-title">
        <div class="site-background">
            <h3>Support Ticket Prioritization</h3>
            <h1>Let's Help The Clients</h1>
            <a href="/submit"><button class="button btn-primary">Try Now</button></a>
        </div>
    </section>
</main>