<%var title = 'Login'%>

<main class="col d-flex justify-content-center">
    <div class="card text-center align-item-center" style="margin-bottom: auto; margin-top: 5%">
        <h1 class="card-header">Login</h1>
        <form id="login-form" action="/api/v1/users/login" method="POST" class="card-body">
            <input id="email" name="email" class="text-input" placeholder="Enter Email" required />
            <input id="password" type="password" name="password" class="text-input" placeholder="Enter Password" required />
            <button id="btnLogin" type="button" class="btn btn-primary btn-block"
                style="margin-top: 10px; width: 95%;">
                Login
            </button>
        </form>
    </div>
</main>