<<<<<<< HEAD
<%var title = '?????????'%>

<link rel="stylesheet" type="text/css" href="./css/submit.css">
<main>
    <div class="card-form">
        <form id="ticketForm" class="ticket">
            <div class="form-title">Create Ticket</div>
            <div class="form-body">
                <input class="text-input" type="text" id="scopeText" class="row" placeholder="Enter a headline"
                    required />
                <textarea class="text-input" rows="20" style="height: auto; margin-top: 5px;" id="textArea" class="row"
                    placeholder="Please enter your message here..." autofocus="autofocus" required></textarea>

            </div>
            <div class="rule"></div>
            <div class="form-footer">
                <button class="btn">Submit<span class="fa fa-thumbs-o-up"></span></button>
            </div>
        </form>
    </div>
=======
<%var title = '?????????'%>

<link rel="stylesheet" type="text/css" href="./css/submit.css">
<main>
    <div class="card-form">
        <form id="ticketForm" class="ticket">
            <div class="form-title">Create Ticket</div>
            <div class="form-body">
                <input class="text-input" type="text" id="scopeText" class="row" placeholder="Enter a headline"
                    required />
                <textarea class="text-input" rows="20" style="height: auto; margin-top: 5px;" id="textArea" class="row"
                    placeholder="Please enter your message here..." autofocus="autofocus" required></textarea>

            </div>
            <div class="rule"></div>
            <div class="form-footer">
                <button class="btn">Submit<span class="fa fa-thumbs-o-up"></span></button>
            </div>
        </form>
    </div>
>>>>>>> ce70d4c... adding login page
</main>