<%var title = 'Submit'%>

<!-- <link rel="stylesheet" type="text/css" href="./css/submit.css"> -->
<script type="text/javascript" src="./js/submit.js"></script>

<main class="col d-flex justify-content-center">
    <!-- Ticket Submission widget -->
    <div class="card text-center align-item-center" style="margin-bottom: auto; margin-top: 5%">
        <form id="ticketForm" style="width: 80vh">
            <div class="card-header">Create Ticket</div>
            <div class="card-body">
                <input class="text-input" type="text" name="headline" class="row" placeholder="Enter a headline" />
                <textarea name="description" class="text-input" rows="20" style="height: auto; margin-top: 5px;"
                    id="textArea" class="row" placeholder="Enter the description..." autofocus="autofocus"
                    required></textarea>
            </div>
            <div class="card-footer">
                <button id="btnSubmit" type="button" class="button btn-primary">Submit<span
                        class="fa fa-thumbs-o-up"></span></button>
            </div>
        </form>
    </div>

    <!-- Ticket Info widget -->
    <div id="spinner" class="d-flex justify-content-center visually-hidden" style="margin-top: 10px;">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- NOTE: remove visually-hidden during development -->
    <div id="ticket-view" class="card visually-hidden" style="margin-top: 5px;">
        <h4 class="card-header">Ticket Info</h4>
        <div class="card-body">
            <p class="card-text">ID: <span id="ticket-id"></span></p>
            <p class="card-text">Headline: <span id="headline"></span></p>
            <p class="card-text">Priority: <span id="priority"></span></p>
            <p class="card-text">Category: <span id="category"></span></p>
            <div class="card">
                <h5 class="card-header">Keywords</h5>
                <div class="card-body">
                    <div class="card-text" id="keywords">

                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 5px;">
                <h5 class="card-header">Description</h5>
                <div class="card-body card-text" id="description">

                </div>
            </div>
        </div>
    </div>
</main>