<!--form -->
<form id="ticketForm">
    <fieldset style="width: auto">
        <legend>Ticket Description</legend>
        <!--Ticket text area -->
        <textarea id="textArea" rows="20" cols="80" placeholder="Please enter your message here..."
            autofocus="autofocus" required></textarea>
        <br />
        <br />
        <!--Scope textfield -->
        <input type="text" id="scopeText" size="50" placeholder="Enter scope of the problem..." required />
        <br />
        <br />
        <!--Submit Button -->
        <input type="submit" id="submitBtn" value="Submit" />
    </fieldset>
</form>