@import url(../fonts/fonts.css);

main {
    min-height: calc(100vh - 180px);
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #c0392b;
    font-family: var(--Lexend);
    color: white;
    letter-spacing: 1px;
}

:root {

    /*Theme Colors*/
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /*Gradient Color*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*Theme font-family*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}

.text-input {
    appearance: none;
    width: 95%;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
    margin-top: 5px;
}

/*Global Classes*/

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

.button {
    border: 1px none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    background: var(--sky);
    color: var(--midnight);
    /* padding: 1rem 3rem;
    font-size: 1rem;

    cursor: pointer; */
}

.button:hover {
    border: 1px solid var(--white);
}


span {
    font-family: var(--Abel);
}

.text-gray {
    color: var(--text-gray);
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}

/*Global Classes*/

/*Navbar*/

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}


.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
}

.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0 .2rem;
}

.nav .social i:hover {
    color: #a1c4cf;
}


main .site-title {
    background: url('../assets/support.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1,
h3 {
    margin: .3rem;
}


.footer {
    height: 35vh;
    background: var(--bg-color);
    /* position: relative; */
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
}

.footer .container h2 {
    color: var(--white);
}

.footer .newsletter .form-element {
    background: black;
    display: inline-block;
}

.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

.footer .newsletter .form-element span {
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

.footer .follow div i {
    color: var(--white);
    padding: 0 .4rem;
}

.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
}

.footer .move-up {
    position: absolute;
    right: 6%;
    top: 125vh;
}

.footer .move-up span {
    color: var(--midnight);
}

.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
}

.card {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    /* -webkit-backdrop-filter: blur(4px); */
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1130px) {
    .site-content .post-content>.post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    .footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 750px) {

    .nav .nav-menu,
    .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    .footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (max-width: 520px) {
    main .blog {
        height: 125vh;
    }

    .site-content .post-content>.post-image .post-info {
        display: none;
    }

    .footer .container>div {
        padding: 1rem .9rem !important;
    }

    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }

    .footer {
        height: 50vh;
    }

    main {
        min-height: calc(100vh - 50vh);
    }

    nav .toggle-collapse {
        width: 80% !important;
    }
}


.modal-header-danger {
    background-color: #dc3545;
}

.modal-title-danger {
    color: white !important;
}